header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #5f4a54;
}
  
ul.Nav-App {
    margin: 0;
    display: flex;
    padding: 0;
}
  
.containerLogo {
    display: flex;
    padding-left: 20px;
    font-size: 1rem;
}
  
li {
    list-style: none;
    display: flex;
    padding: 20px;
}
  
.logoNav {
    font-size: 2em;
    font-family: 'Raleway';
    font-weight: 600;
    color: #d9c7db;
    padding-left: 20px;
}

  